# Fichiers et dossiers système
.DS_Store
.Trash
.localized

# Environnement virtuel
venv/
.venv/

# Fichiers Python
__pycache__/

# Ignorer les fichiers de cache Python
__pycache__/
*.py[cod]

# Egg ???
projet_annee_3.egg-info

# uv lock file
uv.lock

# VSCode workspace files
.vscode

# Compiled Python bindings
**/chess_module.*
